# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
node_modules

# Editor directories and files
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
.idea
.vscode/*

# Added by cargo

target
Cargo.lock
pkg

# Vercel
.vercel
