<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="<%- project_description %>" />
    <meta name="keywords" content="<%- project_keywords %>" />

    <meta property="og:title" content="<%- project_name %>" />
    <meta property="og:description" content="<%- project_description %>" />
    <!-- <meta property="og:image" content="URL to your featured image" /> -->
    <!-- <meta property="og:url" content="URL of the page" /> -->

    <!-- <meta name="twitter:card" content="summary_large_image" /> -->
    <meta name="twitter:title" content="<%- project_name %>" />
    <meta name="twitter:description" content="<%- project_description %>" />
    <!-- <meta name="twitter:image" content="URL to your featured image" /> -->

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script type="module" src="/src/main.ts"></script>

    <title><%- project_name %></title>
  </head>
  <body>
    <main id="app">
      <load src="src/html/noscritpt.html" />
    </main>

    <footer id="f">
      <a href="https://github.com/eye-wave/online-synth" target="_blank">
        <load src="./src/html/icons/github.svg" />
        source code</a
      >
    </footer>
  </body>
</html>
