#launch {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: #5be;
  background: #ffffff12;
  border: 2px solid currentColor;
  border-radius: 5px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 50px transparent;
  transition:
    box-shadow 200ms,
    color 200ms;
}

#launch.on:focus,
#launch.on:active,
#launch.on:hover {
  box-shadow: 0 0 100px currentColor;
  outline: 0;
}

#launch:after,
#launch:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 0 0 0 2px currentColor;
  transition:
    padding 200ms,
    inset 200ms,
    opacity 200ms;
  opacity: 0;
}

#launch.on:hover:after,
#launch.on:active:after,
#launch.on:focus:after {
  padding: 4px;
  inset: -4px;
  opacity: 0.5;
}

#launch.on:hover:before,
#launch.on:active:before,
#launch.on:focus:before {
  padding: 8px;
  inset: -8px;
  opacity: 0.2;
}

#launch.off {
  color: #555;
  cursor: not-allowed;
}

#error {
  position: fixed;
  white-space: pre;
  background: #ffffff20;
  inset: 0;
  height: fit-content;
  padding: 1rem;
}
